@import url('https://fonts.googleapis.com/css?family=Kaushan+Script|Libre+Baskerville');
header {
    border-bottom: 1px gray solid;
}

body {
  margin: 0;
  height: 100vh;
  position: relative;
}

footer {
    border-top: 1px gray solid;
}

.page-header {
    padding: 1vh 1vw;
    display: flex;
    align-items: center;
}

.page-header > .page-logo-container {
    width: 10%;
}

.page-header > .navigation-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.page-footer {
    background-color: grey;
    position: sticky;
    height: 5vh;
    top: 100vh;
}