.navigation-panel {
    margin: 0 0;
    height: 100%;
    background-color: white;
    text-align: center;
}

.navigation-panel .topmenu {
    padding: 0;
    margin: 0;
    height: 100%;
    list-style: none;
    position: relative;
}

.navigation-panel ul > li {
    margin: 0px -7px 0 0;
    height: 100%;
    display: inline-block;
    background-color: white;
    width: 100%;
}

.navigation-panel a {
    display: block;
    color: #666666;
    font-size: 16px;
    text-decoration: none;
}

.navigation-panel .navigation-dropdown {
    height: 100%;
}

.navigation-panel .navigation-dropdown:hover,
.navigation-panel a:hover {
    background-color: lightgrey;
}

.navigation-panel .little-arrow {
    display: inline-block;
    width: 0;
    height: 0;
    margin-left: 2px;
    vertical-align: middle;
    border-top: 4px solid;
    border-right: 4px solid transparent;
    border-left: 4px solid transparent;
    color: #666666;
}

.navigation-panel ul ul {
    display: none;
    position: absolute;
    top: 100%;
}

.navigation-panel ul li:hover > ul {
    display:inherit;
}

.navigation-panel ul ul li {
    width: 100%;
    float:none;
    display:list-item;
    position: relative;
}

.navigation-panel .navigation-dropdown {
    display: flex;
    padding: 0 15px;
    height: 100%;
    line-height: 100%;
    justify-items: center;
    justify-content: center;
    align-items: center;
}

.navigation-panel .dropdown-item > .submenu {
    padding: 0;
    list-style: none;
    border: 1px solid #cecece;
    width: 150px;

}

.submenu li a:hover {
    color: white;
    text-decoration: underline;
    background-color: #1d85d0;
}
